# IntelliJ
.idea/
*.iws
*.iml
*.ipr
*.ips
.idea/

# Eclipse
.settings/
.metadata/
.classpath
.project

# Generated
target/
javadoc/
bin/
log/
xchange-mercadobitcoin/classes/
xchange-mercadobitcoin/src/main/java/META-INF/

xchange-bitcointoyou/classes/
xchange-bitcointoyou/src/main/java/META-INF/

# Misc.
.DS_Store
