# IntelliJ
.idea/
*.iws
*.iml
*.ipr
*.ips
.idea/

# Eclipse
.settings/
.metadata/
.classpath
.project

# Generated
target/
javadoc/
bin/
log/
classes/
META-INF/

# Misc.
.DS_Store

# externalized configuration file for keys
exchangeConfiguration.json
