# backup files
*~
#*
*/#*
**/#*
**/.#*

# system files
.DS_Store

# project files
workspace.xml
out/
workspace.xml___jb_bak___

# runtime, generated
logs
tmp/
dotemacs/TAGS
**/datomic.lock.db
*.tmp
*.lock
*.db
*.log


