<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds" >

    <!-- include resource="org/springframework/boot/logging/logback/base.xml"/-->
    <logger name="net.areiter.trader" level="ALL"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="si.mazi.rescu.HttpTemplate" level="ALL"/>
    <logger name="io.socket" level="WARN"/>
    
        
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
     ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <root level="WARN">
      <appender-ref ref="STDOUT" />
    </root>
</configuration>
